<div class="card" *ngIf="resourceName|editable">
    <h1 class="mb-0">Formulaire de Modification - Entreprise</h1>
    <hr class="mb-0">
    <form (ngSubmit)="updateItem()" #entrepriseForm="ngForm">
        <div class="card-body">
            <div class="row">
                                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input [(ngModel)]="item.nom" type="text" name="nom" id="nom" class="form-control"
                                    placeholder="" aria-describedby="helpNomId">
                        <small id="helpNomId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="telephone">Telephone</label>
                        <input [(ngModel)]="item.telephone" type="text" name="telephone" id="telephone" class="form-control"
                                    placeholder="" aria-describedby="helpTelephoneId">
                        <small id="helpTelephoneId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ninea">Ninea</label>
                        <input [(ngModel)]="item.ninea" type="text" name="ninea" id="ninea" class="form-control"
                                    placeholder="" aria-describedby="helpNineaId">
                        <small id="helpNineaId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]="item.email" type="text" name="email" id="email" class="form-control"
                                    placeholder="" aria-describedby="helpEmailId">
                        <small id="helpEmailId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <input [(ngModel)]="item.adresse" type="text" name="adresse" id="adresse" class="form-control"
                                    placeholder="" aria-describedby="helpAdresseId">
                        <small id="helpAdresseId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="nomPrenomPatron">NomPrenomPatron</label>
                        <input [(ngModel)]="item.nomPrenomPatron" type="text" name="nomPrenomPatron" id="nomPrenomPatron" class="form-control"
                                    placeholder="" aria-describedby="helpNomPrenomPatronId">
                        <small id="helpNomPrenomPatronId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="gerant">Gerant</label>
                        <input [(ngModel)]="item.gerant" type="text" name="gerant" id="gerant" class="form-control"
                                    placeholder="" aria-describedby="helpGerantId">
                        <small id="helpGerantId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="telephoneGerant">TelephoneGerant</label>
                        <input [(ngModel)]="item.telephoneGerant" type="text" name="telephoneGerant" id="telephoneGerant" class="form-control"
                                    placeholder="" aria-describedby="helpTelephoneGerantId">
                        <small id="helpTelephoneGerantId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="telephonePatron">TelephonePatron</label>
                        <input [(ngModel)]="item.telephonePatron" type="text" name="telephonePatron" id="telephonePatron" class="form-control"
                                    placeholder="" aria-describedby="helpTelephonePatronId">
                        <small id="helpTelephonePatronId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                                        <div class="col-lg-6">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input [(ngModel)]="item.description" type="text" name="description" id="description" class="form-control"
                                    placeholder="" aria-describedby="helpDescriptionId">
                        <small id="helpDescriptionId" class="text-muted">Ex: </small>
                    </div>
                </div>
                                                </div>
        </div>
        <div class="card-footer">
            <button icon="pi pi-times" pButton [disabled]="isSubmitted" label="Fermer" (click)="close()" type="button"
                class="ui-button-raised ui-button-rounded ui-button-secondary mt-1"></button>
            <button [disabled]="isSubmitted" pButton type="reset" label="Vider"
                icon="pi pi-refresh" class="ui-button-info mt-1 ml-1"></button>
            <button *ngIf="resourceName|showable" icon="pi pi-pencil" pButton [disabled]="isSubmitted || entrepriseForm.invalid || isOffline" type="submit"
                class="float-md-right ml-1 mt-1" label="Mettre à jour">
                <i *ngIf="isSubmitted" class="pi pi-spin pi-spinner ml-1" style="font-weight: bold;"></i>
            </button>
        </div>
    </form>
</div>